<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="color_header">
    <h1>Shop By Color</h1>
   
    
    
     <ul style="list-style: none;">
        <li><a href="/inventory/colors"><button class="color brown" ></button></a></li> 
        <li><a href="/inventory/colors"><button class="color white"></button></a></li> 
        <li><a  href="/inventory/colors"><button class="color black"></button></a></li> 
         <li><a href="/inventory/colors"><button class="color red"></button></a></li> 
         <li><a href="/inventory/colors"><button class="color blue"></button></a></li> 
         <li><a href="/inventory/colors"><button class="color yel"></button></a></li> 
         <li><a href="/inventory/colors"><button class="color green"></button></a></li> 
    </ul>
    </div>


</body>
</html>
