<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
   
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="center">
      <img src="/paper_title.png">
    </a>
    <h1>Welcome to Brown Town Paper inc.</h1>
    <p><i>"Real buisness is done on paper"</i> - Michael Scott</p>
      <p>-<b>Twitter Activation</b>-</p>
    <button type="button" class="btn btn-lg btn-primary" onclick="changeT()">
        Start Tweets</button>
    <button type="button" class="btn btn-lg btn-primary" onclick="changeF()">
        Stop Tweets</button>
      <p id ="twitterStatus">Twitter Flow Currently: Active</p>
  </div>

</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    All new customers will recive a 10% discount! 
  </div>
  <hr>
 
 
</div>
   
    <h2>Paper Tweets</h2>
    <div id="result">
    <ul id="paperMessages"></ul> 
    
    </div>
 

    <script>
        var getTweets = true;
        
                
    function getPaperTweets() {
        
        
    $.post("/searchTweets", function(message) {
        if(getTweets)
        if (message) {
            $("#paperMessages").append("<li><span style=\"font-weight: bold\">User: " + message.user + "</span>- " + message.tweets + "</li><br>");
            
        }
    })
    
}
       function changeT(){ 
           getTweets = true;
           document.getElementById("twitterStatus").innerHTML = "Twitter Flow Currently: Active";
       }
        
       function changeF(){
           getTweets = false;
           document.getElementById("twitterStatus").innerHTML = "Twitter Flow Currently: Inactive";
       }
        
       
window.setInterval(function(){
  getPaperTweets();
    
   
}, 4000);
     
    </script>
    
    
</body>
</html>
