<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="paper_logo">
      <img src="/paper_title.png">
    </a>
    <h1>Welcome to Brown Town Paper inc.</h1>
    <p><i>"Real buisness is done on paper"</i> - Michael Scott</p>
      <p>-<b>Quick Search</b>-</p>
    <a type="button" class="btn btn-lg btn-primary" href="/inventory/colors">
        By Color</a>
    <a type="button" class="btn btn-lg btn-primary" href="/inventory/sizes">
        By Size</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    All new customers will recive a 10% discount! 
  </div>
  <hr>
 
 
</div>


</body>
</html>
