<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
   
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="center">
      <img src="/paper_title.png">
    </a>
    <h1>Welcome to Brown Town Paper inc.</h1>
    <p><i>"Real buisness is done on paper"</i> - Michael Scott</p>
      <p>-<b>Quick Search</b>-</p>
    <a type="button" class="btn btn-lg btn-primary" href="/inventory/colors">
        By Color</a>
    <a type="button" class="btn btn-lg btn-primary" href="/inventory/sizes">
        By Size</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    All new customers will recive a 10% discount! 
  </div>
  <hr>
 
 
</div>

    <p id="demo">HI dude</p>
    <button onclick="getPaperTweets();">Search</button>
    <h2>Paper Tweets</h2>
    <div id="result"></div>

            <ul id="tweets"></ul> 

    <script>
    
    function getPaperTweets() {
    
    document.getElementById("demo").innerHTML = "testing";
    console.log('function called');
    
    $.post("/getPaperTweets", function(result) {
        if (result) {
            $("#result").append("<p>Here is the latest Tweet for \"" + 'Paper' + "\".</p>");
            $("#tweets").append("<li><span style=\"font-weight: bold\">" + result.user + "</span>: " + result.tweets + "</li>");
        }
    })
}
    
    
    </script>
    
    
</body>
</html>
