<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    
    <h1>This is the inventory</h1>
   
    <br>
    
    
    <div class="inventory">
        Common Products
        <ul>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>

        </ul>
    </div>
    
      <div class="inventory">
        Common Products
        <ul>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
            <li><span>Product Quantity: </span><input type="text"></li>
        </ul>
    </div>
    
    <a href="/checkout" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
        </a>

</body>
</html>
