<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    
    <h3>Shop by Size</h3>

    
    <ul class="size" style="list-style: none;">
        <li><a href="/8x11">8 1/2 x 11 in</a></li>
        <li><a href="/">8 1/2 x 14 in</a></li>
        <li><a href="/">11 x 17 in</a></li>
        <li><a href="/">12 x 12 in</a></li>
        <li><a href="/">12 x 18 in</a></li>
        <li><a href="/">View All</a></li>
    </ul>

   

</body>
</html>
