<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="center">
        <h2>Order Placed</h2>
    <h3>Thankyou for shopping with us today!</h3>

    Feel free to stick around or place another order!


   </div>

</body>
</html>
